{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"classes": true,
			"defaultParams": true
		}
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true
	},
	"compilerOptions": {
		"experimentalDecorators": true
	},
	"files": [],
	"rules": {
		"semi": 2,
		"react/prop-types": "off",
		"react/no-unknown-property": [
			1,
			{
				"ignore": [
					"class"
				]
			}
		],
		"no-console": "off",
		"no-unused-vars": [
			"error",
			{
				"vars": "all",
				"varsIgnorePattern": "css",
				"args": "none"
			}
		]
	},
	"no-undef": 1,
	"no-unused-vars": 1,
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"globals": {
		"console": true,
		"alert": true,
		"document": true,
		"__dirname": true,
		"require": true,
		"window": true,
		"process": true,
		"module": true,
		"define": true,
		"_": true,
		"$": true,
		"Promise": true,
		"setTimeout": true,
		"clearTimeout": true
	}
}
